{% block content %}


<style>
#submit {
  background: white;
  font-size: 180px;
  font-weight: bold;
  padding:100px 200px;
  border: 1px solid #FFFFFF;
  margin: 0 auto
}

.buttonHolder{ text-align: center; }

#text{
position: absolute;
top: 10;
width: 130;
}

</style>


<form action="#" method="post">
        <div class="buttonHolder">
    <h1><input type="submit" value="{{content[0]}} | {{content[1]}}" id="submit" onclick="myFunction()"></h1>
        </div>
    <p><input type="text" id="text" name='d'></p>
</form>


{% endblock %}